<% if current_user != @user %>
  <div id="like_form">
  <% if current_user.like?(micropost) %>
    <%= render 'microposts/unlike', micropost: micropost  %>
  <% else %>
    <%= render 'microposts/like', micropost: micropost   %>
  <% end %>
  </div>
<% end %>